.dashboard-container {
  /* background-color: #f8f8f8; */
  min-height: 100vh;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.stat-card {
  background-color: var(--color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.stat-content {
  display: flex;
  align-items: center; /* centre verticalement image et texte */
  gap: 15px;          /* espace entre image et texte */
}

.stat-icon {
  width: 50px;
  height: 50px;
}

.stat-text {
  display: flex;
  flex-direction: column; /* empile le titre et le nombre verticalement */
  justify-content: center; /* centre verticalement par rapport à l'image */
}

.stat-title {
  font-size: 14px;
  color: #666;
}

.stat-value {
  font-size: 28px;
  font-weight: bold;
  color: #222;
}

.section {
  background-color: #ffcad413;
  border: 1px solid #f3b5c8;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.section-header {
  font-weight: bold;
  color: #e91e6292;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 15px;
  display: flex;
  /* align-items: center; */
  gap: 8px;
}

.activity {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background-color: #d9d9d948;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.activity-info {
  font-size: 14px;
}

.activity-title {
  font-weight: 500;
}

.text-pink {
  color: #e91e6292;
  font-size: 8px;
}
.alert {
  background-color: #d9d9d948;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.alert-title {
  font-weight: 500;
  /* color: #e91e63; */
}

small {
  color: #777;
}
